body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo-cor {
    color: #fff;
    font-size: 40px;
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    padding: 10px 0;
    transition: color 0.3s ease;
    font-size: 18px;
}

.nav-links a.active,
.nav-links a:hover {
    color: #ffffff;
}

.nav-links a:hover::after {
    width: 100%;
}

.search-bar {
    display: flex;
    background-color: #363434;
    border-radius: 20px; 
    padding: 0;
    align-items: center;
}

.search-bar input[type="text"] {
    background: transparent;
    border: none;
    color: #fff;
    padding: 10px;
    outline: none;
    font-size: 14px;
    width: 150px; 
}

.search-bar button {
    background-color: #1DB954;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #17a548;
}

.products {
    padding: 50px;
    text-align: center;
    background-color: #fff;
}

.conteiner-imagens{
    width: 100%;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    text-align: center;
    height: 70%;
}

.products h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.product img {
    width: 108%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.product p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #1DB954;
}

.product button {
    background-color: #1DB954;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #17a548;
}

.product:hover {
    transform: translateY(-5px);
}

.whatsapp-float {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-link {
    background-color: #25D366;
    border-radius: 50%;
    padding: 15px;
    display: inline-block;
}

.whatsapp-link i {
    color: white;
    font-size: 24px;
}

.whatsapp-float a:hover {
    background-color: #128C7E;
}

.custom-footer {
    background-color: #222;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    flex: 1;
    margin: 20px;
    min-width: 250px;
}

.footer-column h3 {
    color: #1DB954;
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-column p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-social-link {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.footer-social-link:hover {
    color: #1DB954;
}

.footer-signature {
    margin-top: 30px;
    border-top: 1px solid #444;
    padding-top: 20px;
    font-size: 12px;
    color: #888;
}

.footer-signature span {
    color: #1DB954;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 480px) {
    /* Navbar */
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    /* Links de navegação */
    .nav-links {
        flex-direction: column;
        gap: 10px; 
        margin-top: 10px;
    }

    /* Barra de pesquisa */
    .search-bar {
        margin-top: 10px;
        width: 100%; 
        justify-content: center;
    }

    .search-bar input[type="text"] {
        width: 70%; 
    }

    .search-bar button {
        padding: 8px 10px; 
    }

    /* Produtos */
    .products {
        padding: 20px;
    }
}
